In [10]:
from pandas import DataFrame



xn=0
ui=0
xn1=[]
r=[]
a=0

va=int(input("Valor A: "))
vb=int(input("Valor B: "))
semilla=int(input("Ingrese el valor de la semilla: "))
vm=int(input("Valor M: "))
iter=int(input("NUmero de Iteraciones: "))

xn=semilla
for i in range(0,iter):
    a=((va*xn)+vb)%(vm)
    ui=a/vm
    xn=a
    xn1.append(xn)
    r.append(ui)

imp={'xn':xn1,'ui':r}
df=DataFrame(imp)
df

Valor A: 4
Valor B: 7
Ingrese el valor de la semilla: 3320
Valor M: 18
NUmero de Iteraciones: 10

   xn        ui
0   3  0.166667
1   1  0.055556
2  11  0.611111
3  15  0.833333
4  13  0.722222
5   5  0.277778
6   9  0.500000
7   7  0.388889
8  17  0.944444
9   3  0.166667